<table>
    <thead>
    <tr>
        <th>You can</th>
        <th>You cannot</th>
        <th>You must</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <ul>
                <li>Use privately</li>
                <li>Use commercially</li>
                <li>Modify</li>
                <li>Adapt</li>
                <li>Distribute</li>
                <li>Sublicense</li>
                <li>Use a patent</li>
                <li>Add a warranty</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Hold the Licensor liable</li>
                <li>Be a big corporation</li>
                <li>Be law enforcement or military</li>
                <li>Use for bigoted purposes</li>
                <li>Use for violent purposes</li>
                <li>Just blatantly resell it</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Give credit</li>
                <li>Indicate changes made</li>
                <li>Include license or a link</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
