{% apply spaceless %}
<a href="{{ link }}" target="_blank" rel="noopener">
    <img src="https://badgers.space/badge/License/OQL/pink" alt="License: OQL" style="vertical-align: middle;"/>
</a>
{% endapply %}
