{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% include 'logo.html.twig' %} Opinionated Queer License</h1>

    <h2>Motivation</h2>

    {{ about|raw }}

    <h2>Content</h2>

    <ul class="list-inline list-inline-sm center">
        <li>
            <a href="{{ path('license_latest') }}"><button>📄 HTML</button></a>
        </li>
        <li>
            <a href="{{ path('license_latest', {'_format': 'md'}) }}"><button>⬇️ Markdown</button></a>
        </li>
        <li>
            <a href="{{ path('license_latest', {'_format': 'tldr'}) }}"><button>⏱️ TL;DR</button></a>
        </li>
    </ul>

    <details open>
        <summary>Customise the link</summary>
        {% include 'license/customiseForm.html.twig' %}
    </details>

    <details>
        <summary>Linking with the Licensor field</summary>
        <p>
            Use the <code>c</code> query parameter to dynamically fill out the Licensor field:
            <a href="{{ path('license_latest', {'c': 'Andrea Vos'}) }}">Example</a>.
            <br/>
            It can include a link, using the following format: <code>Name|Link</code>:
            <a href="{{ path('license_latest', {'c': 'Andrea Vos|https://avris.it'}) }}">Example</a>.
            <br/>
            It can also be a list:
            <a href="{{ path('license_latest', {'c': ['Andrea Vos|https://avris.it', 'Kolektyw „Rada Języka Neutralnego”|https://zaimki.pl/kolektyw-rjn']}) }}">Example</a>.
        </p>
    </details>

    <h2>TL;DR</h2>

    <div class="table-responsive">
        {{ latest.tldr|raw }}
    </div>

    <h2>Software</h2>

    <p>
        This license can be used for all kinds of work.
    </p>

    <p>
        When used for software, keep in mind that it <strong>doesn't</strong> meet
        <a href="https://www.fsf.org/about/what-is-free-software" target="_blank" rel="noopener">FSF's definition of “free software”</a>
        <strong>or</strong>
        <a href="https://opensource.org/docs/OSD" target="_blank" rel="noopener">OSI's definition of “open source”</a>,
        and it's <strong>not</strong>
        <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener">GPL compatible</a>.
    </p>

    <p>
        You can use the following
        <a href="https://spdx.github.io/spdx-spec/v3.0.1/annexes/spdx-license-expressions/" target="_blank" rel="noopener">SPDX License Identifier Tag</a>:
        {% include 'license/identifier.html.twig' with { version: latest.version } %}
        <button class="btn-clipboard small" data-clipboard-text="{{ include('license/identifier.html.twig', { version: latest.version })|striptags|raw|e('html_attr') }}">📋</button>
    </p>

    <p>
        Badge:
        {% include 'license/badge.html.twig' with { link: app.request.uriForPath(path('license_version', { version: latest.version })) } %}
        <button class="btn-clipboard small" data-clipboard-text="{{ include('license/badge.html.twig', { link: app.request.uriForPath(path('license_version', { version: latest.version })) })|raw|e('html_attr') }}">📋</button>
    </p>

    <h2>Usages</h2>

    <details>
        <summary>Projects using OQL <small>& derivative works of such projects</small></summary>
        <ul class="columns small">
            {% for usage in usages %}
                <li>
                    <a href="{{ usage }}" target="_blank" rel="noopener">
                        {{ usage|replace({
                            'https://gitlab.com/': '',
                            'https://github.com/': '',
                            'https://': '',
                        }) }}
                    </a>
                </li>
            {% endfor %}
            <li>
                <a href="https://gitlab.com/Avris/OQL/-/blob/main/license/usages.txt" target="_blank" rel="noopener">
                    <strong>Add yours 😉</strong>
                </a>
            </li>
        </ul>
    </details>
{% endblock %}
