<img src="{{ app.request.uriForPath('/OQL.svg') }}" alt="Logo: stylised “Q” with a shadow of an “O” on its left and a shadow of an “L” on its right" style="height: 1.2em;width: 1.2em;margin-bottom:0">
